<div class="navbar">
  <h2 class="title" id="title">
    {{link-to "OUR AWESOME BOOKSTORE" "books"}}
  </h2>
  <div>
    {{global-search}}
  </div>
</div>
<div class={{if blur "blur-background" ""}}>
  {{outlet}}
</div>